@import '../../global/mixins';

.home {
  height: 100%;
  padding: 0rem 0;

  h1 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 2rem;

    @include small-screen {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }

  h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;

    @include small-screen {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
  }

  & p {
    line-height: 1.8rem;

    @include small-screen {
      font-size: 1rem;
    }
  }

  & .textSection,
  & .imageSection {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  & .imageSection {
    & .portrait {
      border: 4px solid #333;
      border-radius: 1rem;
      max-height: 460px;

      @include med-screen {
        max-height: 100%;
      }
    }
  }

  & .btnGroup {
    display: flex;
    margin-top: 2rem;

    & .linkBtn {
      width: 100%;

      &:first-of-type {
        margin-right: 1rem;
      }
    }
  }
}

.wrapper {
  display: grid;
  height: 100%;
  align-items: center;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;

  @include med-screen {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.icon {
  font-size: 2.8rem;
  margin-left: 5px;

  @include small-screen {
    font-size: 2rem;
  }
}
